.form--edit-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 78, 77, 0.6);
}

.form--edit-visible {
  display: block;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 16px;
  background-color: #fff;
  border: 2px solid #4a4e4d;
  border-radius: 10px;
}

.form-field:not(:last-child) {
  margin-bottom: 25px;
}

.form-field input[type='text'],
.form-field textarea {
  min-height: 40px;
  width: 100%;
  padding: 10px;
  border: 2px solid #4a4e4d;
  outline: none;
  resize: none;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #4a4e4d;
  cursor: pointer;
}

.form__button {
  float: right;
  max-width: 240px;
  padding: 10px 20px;
  background-color: #3da4ab;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.form__button:hover {
  background-color: #33848a;
}

.form__button:not(:last-child) {
  margin-left: 20px;
}

.form__button--cancle {
  background-color: #fe8a71;
}

.form__button--cancle:hover {
  background-color: #d45f45;
}

.form-field .form__checkbox-switch {
  display: inline-block;
  position: relative;
}

.form-field .form__checkbox-input {
  width: 0;
  height: 0;
  overflow: visible;
  -webkit-appearance: none;
}

.form-field .form__checkbox-slider {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  background-color: #4a4e4d;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.form-field .form__checkbox-input:checked + .form__checkbox-slider {
  background-color: #3da4ab;
}

.form-field .form__checkbox-input:checked + .form__checkbox-slider::before {
  transform: translateX(20px);
}

.form-field .form__checkbox-slider::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 1;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 100%;
  transition: transform 300ms linear;
}