<form class="form js-product-form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="product-title">Product Title:</label>
    <input type="text" name="product-title" id="product-title" placeholder="Enter product name..." [(ngModel)]="productTitle">
  </div>
  <div class="form-field">
    <label for="product-price">Product Price:</label>
    <input type="text" name="product-price" id="product-price" placeholder="Enter product price..." [(ngModel)]="productPrice">
  </div>
  <div class="form-field">
    <label for="product-description">Product Description:</label>
    <textarea name="product-description" id="product-description" rows="4" placeholder="Enter product description..." [(ngModel)]="productDescription"></textarea>
  </div>
  <div class="form-field">
    <label class="form__checkbox-switch" for="product-available">
      Product availability
      <input class="form__checkbox-input" type="checkbox" name="product-available" id="product-available" [(ngModel)]="productAvailable">
      <span class="form__checkbox-slider"></span>
    </label>
  </div>
  <div class="form-field">
    <input class="form__submit" type="submit" value="Create Product">
  </div>
</form>