/* You can add global styles to this file, and also import other style files */

/*
Color Samples:

gray: #4a4e4d;
green: #69c64d;
yellow: #f6cd61;
red: #fe8a71;
$blue: #3da4ab;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-top: 73px;
}

.app-container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

ul,
ol,
li {
	list-style: none;
	list-style-image: none;
}