<li class="product__item">
  <div class="product__item-header">
    <h3 class="product__item-title">{{ product.title }}</h3>
  </div>
  <div class="product__item-body">
    <div class="product__item-body-info">
      <span class="product__item-price">${{ product.price }}</span>
      <span *ngIf="product.available, else elseBlock" class="product__item-state product__item-state--available">Available</span>
      <ng-template #elseBlock><span class="product__item-state product__item-state--non-available">Non-available</span></ng-template>
    </div>
    <p class="product__item-description">{{ product.description }}</p>
  </div>
  <div class="product__item-footer">
    <button type="button" class="product__item-button product__item-button--edit" (click)="onEdit(product)">Edit Product</button>
    <button type="button" class="product__item-button product__item-button--remove" (click)="onDelete(product)">Remove Product</button>
  </div>
</li>
