.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
	padding: 20px 30px;
	background-color: #4a4e4d;
	border-bottom: 5px solid #f6cd61;
}

.header__title {
	font-size: 24px;
	color: #f6cd61;
	text-align: center;
	text-transform: uppercase;
}

/* Navigation */
.navigation {
	margin: 30px 0 0;
	color: #f6cd61;
	text-align: center;
}

.navigation__link {
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
	transition: color 300ms linear;
}

.navigation__link:hover {
	color: #f6cd61;
}

.navigation__link--active {
	color: #f6cd61;
}

/* Navigation for authentication */
.navigation__auth {
	position: absolute;
	right: 30px;
	bottom: 20px;
}